html{
    font-size: 24px;
}

/*------------------------------SIDE-MENU------------------------------*/
.sidemenu{
    position: fixed;  /*FIXED*/
    width: 2rem;
    height: 100%;
    background-color: rgba(10, 108, 179, 0.817);
    padding: 2rem;
    transition: 0.5s;
    overflow: hidden; /*Oculta texto del menú*/
}

.sidemenu:hover{
    width: 12rem;
}
.sidemenu ul{
    position: absolute;
    left: 0;
    /*top: 20px;*/
    width: 100%;
}

.sidemenu ul li{
    width: 100%;
    list-style: none;
    padding-left: 1rem; ;
}

li:hover{
    background: rgba(8, 66, 107, 0.817);
    align-items: center;
}

.sidemenu ul li a{
    display: flex;
    text-decoration: none;
    color: black;
    height: 3.5rem;
}

.sidemenu ul li a .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
}

.sidemenu ul li a .nombremodulo{
    display: flex;
    align-items: center;
    height: 3rem;
    padding-left: 1.5rem;
    font-size: 15px;
}

/*SIDEMENU END*/
