/*intrucciones estandar para el cuerpo de la pagina*/
body{
    background: #efefef;
    box-sizing: border-box;
    margin: 0;
}
 
/*medidas, posicion, color, prioridad, modalidad del menu*/
#navegador{
    background: #5377a7;
    position: fixed;
    display: flex;
    width: 100%;
    height: 37px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    z-index: 1;
}

/*medidas de la imagen principal*/
#cabeza > img{
    width: 100%;
    height: 800px;
}

/*medidas y modalidad para el cuerpo*/
#cuerpo{
    display: grid;
    width: 100%;
}

/*medidas y modalidad para el primer contenedor de informacion*/
#p1{
    display: grid;
    height: 500px;
}

/*medidas y modalidad para el segundo contenedor de informacion*/
#p2{
    display: grid;
    height: 500px;
}

/*color, medidas para el pie de pagina*/
#pie{
    width: 100%;
    height: 500px;
    background: #1a3069;
}

/*medidas y posicion para el contenedor de cabeza*/
.contenedor{
    width: 100%;
    position: relative;
    display: inline-block;
}

/*medidas y posicion para el contenedor de informacion pie de pagina*/
.contenedor-2{
    width: 100%;
    position: relative;
    display: inline-block;
}

/*color, medidas, posicion del nombre de la empresa para que este encima de la imagen*/
.nombre{
    background: rgba(255, 255, 255, 0);
    color: #c2c6ce;
    top: 370px;
    left: 450px;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*color y modalidad flex*/
.menu{
    display: flex;
    background: #5377a7;
}

/*estilo, medidas, fondo, color y espacio para los li*/
.menu li{
    list-style: none;
    margin: 10px;
    color: #c2c6ce;
    background: #5377a7;
    padding: 0 100px 0 100px;
}

/*decoracion, color, fondo de las a*/
.menu a{
    text-decoration: none;
    color: #c2c6ce;
    background: #5377a7;
}

/*modalidad, color, medidas fondo, diseño para la tarjeta con informacion*/
.informacion-c{
    display: grid;
    color: #c2c6ce;
    text-align: center;
    padding: 30px;
    margin: 20px;
    background: #0f1c3d;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.599);
    border: 2px solid #000;
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 5;
}

/*modalidad, color, medidas fondo, diseño para la tarjeta con informacion*/
.m1{
    display: grid;
    color: #c2c6ce;
    text-align: center;
    padding: 30px;
    margin: 20px;
    background: #0f1c3d;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.599);
    border: 2px solid #000;
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 3;
}

/*modalidad, color, medidas fondo, diseño para la tarjeta con informacion*/
.m2{
    display: grid;
    color: #c2c6ce;
    text-align: center;
    padding: 30px;
    margin: 20px;
    background: #0f1c3d;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.599);
    border: 2px solid #000;
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 3; 
    grid-row-end: 5;
}

/*modalidad, color, medidas fondo, diseño para la tarjeta con informacion*/
.informacion-r{
    display: grid;
    color: #c2c6ce;
    text-align: center;
    padding: 30px;
    margin: 20px;
    background: #0f1c3d;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.599);
    border: 2px solid #000;
    background: #305280;
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 5;
}

/*modalidad, color, medidas fondo, diseño para la tarjeta con informacion*/
.formulario{
    display: grid;
    color: #c2c6ce;
    text-align: center;
    padding: 30px;
    margin: 20px;
    background: #0f1c3d;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.599);
    border: 2px solid #000;
    background: #305280;
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 5;
}

/*posicion, fondo, color, medidas y diseño para informacion del pie de pagina*/
.conocer{
    position: absolute;
    background: #1a3069;
    color: #c0d0ef;
    top: 70px;
    left: 400px;
    border-bottom: 1px solid #000;
}

/*posicion, fondo, color, medidas y diseño para informacion del pie de pagina*/
.sucursales{
    position: absolute;
    background: #1a3069;
    color: #c0d0ef;
    top: 170px;
    left: 400px;
    border-bottom: 1px solid #000;
}

/*posicion, fondo, color, medidas y diseño para informacion del pie de pagina*/
.correo{
    position: absolute;
    background: #1a3069;
    color: #c0d0ef;
    top: 270px;
    left: 400px;
    border-bottom: 1px solid #000;
}

/*posicion, fondo, color, medidas y diseño para informacion del pie de pagina*/
.ter-con{
    position: absolute;
    background: #1a3069;
    color: #c0d0ef;
    top: 70px;
    left: 950px;
    border-bottom: 1px solid #000;
}

/*posicion, fondo, color, medidas y diseño para informacion del pie de pagina*/
.pol-pri{
    position: absolute;
    background: #1a3069;
    color: #c0d0ef;
    top: 170px;
    left: 950px;
    border-bottom: 1px solid #000;
}

/*posicion, fondo, color, medidas y diseño para informacion del pie de pagina*/
.direccion{
    position: absolute;
    background: #1a3069;
    color: #c0d0ef;
    top: 270px;
    left: 950px;
    border-bottom: 1px solid #000;
}

/*posicion, fondo, color, medidas y diseño para informacion del pie de pagina*/
.derechos{
    position: absolute;
    background: #1a3069;
    color: #c0d0ef;
    top: 400px;
    left: 660px;
    border-bottom: 1px solid #000;
}
