*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

body{
    font-size: 16px;
    background-size: 160rem;
    background-repeat: no-repeat;
}


/*----------------------------------------MAIN-CONTENT----------------------------------------*/

.main-content{
    background-color: rgb(104, 101, 134);
    margin-left: 4rem;
}

.main-content .filters{
    display: flex;
    margin-left: 0.5rem;
    height: 38rem;
    width: 12rem;
    padding: 0!important;
    top: 2rem;
}

th td{
    padding: var(--dt-padding) var(--dt-padding);
    background: #c2eaff9c;
}

th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
    background: hsla(192, 100%, 42%, 0.612);
    border: 0px;
    width: 50%;
}

td{
    border-bottom: solid 1px var(--dt-border-color);
    background: #8bbaff9c;
    border:0px;
}

.contenedor-datatable .datatable tbody tr:nth-child(even){
    background-color: var(--dt-even-row-color);
}

.contenedor-datatable .datatable tbody tr:hover{
    background-color: var(--dt-hover-cell-color);
}